# Project 2 - Sample workflow

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import mean_squared_error

In [2]:
train_path = "datasets/train.csv"
test_path = "datasets/test.csv"

kaggle_train = pd.read_csv(train_path)
kaggle_test = pd.read_csv(test_path)
kaggle_train.head(2)

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000

In [3]:
kaggle_train.corr()['SalePrice'].sort_values(ascending=False)[:5]

SalePrice       1.000000
Overall Qual    0.800207
Gr Liv Area     0.697038
Garage Area     0.650270
Garage Cars     0.648220
Name: SalePrice, dtype: float64

In [4]:
features = ['Overall Qual', 'Gr Liv Area']
X = kaggle_train[features]
y = kaggle_train['SalePrice']
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [5]:
lr = LinearRegression()
lr.fit(X_train, y_train)
preds = lr.predict(X_test)
print(mean_squared_error(y_test, preds, squared=False))

41425.461629091726

In [6]:
X_train

      Overall Qual  Gr Liv Area
1527             6         1525
1005             6          923
1753             5         1097
1287             5         1250
496              5          864
...            ...          ...
1232             8         1646
532              6         1587
222              8         2687
1934             8         2200
1849             6         1593

[1538 rows x 2 columns]

In [35]:
print(X_train.shape)

(1538, 2)

In [36]:
print(X_test.shape)

(513, 2)

In [37]:
kaggle_train.shape

(2051, 81)

In [38]:
print(preds.shape)

(513,)

In [41]:
# Submission
X_submission = kaggle_test[features]
pred_submission = lr.predict(X_submission)
print(pred_submission.shape)

(878,)

In [42]:
print(kaggle_test.shape)

(878, 80)

In [43]:
kaggle_test.head(2)

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD

In [44]:
# Put our submissions in kaggle's test data
kaggle_test['SalePrice'] = pred_submission
kaggle_test.head(2)

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2006,WD,203721.521473
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,8,2006,WD,172924.691666

In [45]:
# Make our submission dataframe
submission = kaggle_test[['Id', 'SalePrice']].sort_values(by='Id')
submission.head()

     Id      SalePrice
703   2  108758.317155
705   4  247759.031734
119   6  184309.845150
311   7  234639.939490
400  17  259443.748124

In [29]:
# Write to csv
submission.to_csv("basic_model.csv", index=False)